body {
  background-color: #181a1b;
}

#app {
  display: flex;
  justify-content: center;
}

.box {
  width: 20px;
  height: 20px;
  background-color: black;
}

.row {
  display: flex;
}

.snake {
  background-color: limegreen;
}

.fruit {
  background-color: red;
}
